.button {
    font: inherit;
    border: 1px solid #563f46;
    background: #563f46;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #484f4f;
    border-color: #484f4f;
  }
  
  .button:focus {
    outline: none;
  }